# Polar Area Chart
````{card}

<br/>

::::{grid} 2

:::{grid-item}
:columns: 3
:class: sd-m-auto
<img src="../../images/polararea.png" width="300px"/>

:::

:::{grid-item}
:columns: 8
Also called: Coxcomb chart, Rose chart, Polar Area Chart

The Polar Area chart is similar to a usual pie chart, except sectors are equal angles and differ rather in how far each sector extends from the center of the circle. The polar area diagram is used to plot cyclic phenomena (e.g., count of deaths by month).

<br/>

Functions:

{bdg-info-line}`Comparison` {bdg-info-line}`Trend over time`
:::
::::

````

In [12]:
import matplotlib.pyplot as plt
import pandas as pd
import math

In [16]:
data = {'Year': [2018, 2019, 2020, 2021, 2022, 2021],
        'Value': [100, 200, 150, 300, 320, 400]}
df = pd.DataFrame(data, columns=['Year', 'Value'])
df.head()

   Year  Value
0  2018    100
1  2019    200
2  2020    150
3  2021    300
4  2022    320

http://www.chiark.greenend.org.uk/~peterb/python/polar/index2

In [18]:
df.index = data['Year']
df.head()

      Year  Value
2018  2018    100
2019  2019    200
2020  2020    150
2021  2021    300
2022  2022    320